/* ==========================================================================
   Global settings
   ========================================================================== */
/*
 * Measures =================================================================
 */
$page-max-width: 1240px;
$page-min-width: 1080px;

$page-padding: 20px;
$font-size: 15px;
// $slide-time: .7s;

/*
 * Colors ====================================================================
 */

$dark-purple: #72283F;
$orange: #F5821F;
$wine: rgb(108, 35, 52);



/*
 * Fonts ====================================================================
 */

@font-face {
  font-family: 'NexaBold';
  src:  url('../font/NexaBold.eot?#iefix') format('embedded-opentype'),
         url('../font/NexaBold.otf')  format('opentype'),
         url('../font/NexaBold.woff') format('woff'),
         url('../font/NexaBold.ttf')  format('truetype'),
         url('../font/NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*
 * Compass ===================================================================
 */
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;
$global-layout: vertical;
$global-spacing: 2px;

