
// FONTS ========================================
.font-nexabold {
  font-family: NexaBold;
  letter-spacing: 1px;
  text-transform: uppercase;
}


// HELPER CLASSES ===============================
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


.hide {
  display: none;
}

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}


// ALIGN =======================================
.aligncenter{
  text-align: center;
}

.margincenter {
  margin: 0 auto;
  display: block;
}




// columns =====================================
[class*="col-"] {
  float: left;
  // overflow: hidden;
  padding: 0 $page-padding;
}

.col-full {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}


.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}


.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}




