.about-session {
  color: #FFF;
  font-size: 22px;
  line-height: 38px;
  background: url(../image/bg-laranja.jpg) center;
  //font-weight: 400;

  strong {
    color: $dark-purple;
    font-weight: 600;
  }

  .main-title {
    font-size: 36px;
    color: $dark-purple;
    @extend .font-nexabold;
  }

}
