
.contact-session {
  background: url(../image/bg-laranja.jpg) center;
  // height: 1012px;

  .content-width {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}


.contact-container {
    //margin: 0 -55px;

  .btn-send {
    background: $dark-purple;
    // margin-bottom: 150px;
  }

  .field-line {
    display: flex;
    .tel{
      margin-right: 0;
    }
  }

}

.contact-form {
  width: 100%;
  @extend .clearfix;
}

.subject-box {
  float: left;
  width: 440px;
  font-size: 19px;
  font-weight: 600;
  line-height: 32px;
  color: #121012;

  .select{
    width: 280px;
  }
}

.subject-select {}
.subject-description { color: #121012;}

.form-box-contact {
  float: right;
  width: 730px;
}


.info-box {
  position: fixed;
  bottom: -80px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 4px 20px;
  background-color: #EEE;
  text-align: center;
  z-index: 10;
  font-size: 15px;
  @include box-shadow(0px 8px 20px -2px rgba(#000, .5));
  @include transition(bottom .5s);

  &.box-in {
    bottom: 20px;
  }

  &.box-out {
    bottom: -80px;
  }

  &.error {
    color: #C00;
    outline: 4px solid #D00;
    background: #FEE;
  }

  &.success{
    color: #070;
    outline: 4px solid #080;
    background: #EFE;
  }
}