
// footer ============================
.site-footer {
  background: url(../image/bg-footer.jpg) center;
  height: 299px;

  .content-width {
    position: relative;
    padding-top: 70px;
    height: inherit;
  }
}


.opening-hours,
// .special-events,
.social-media {
  position: absolute;
  top: 100px;
  margin-top: 18px;
}

// BOX 1 ============================
.opening-hours {
  left: 0;
  color: #FFF;

  p{
    margin: 0;
  }

  .opening-hours-title {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .opening-hours-content {
    display: inline-block;
    float: left;
    font-size: 18px;

  }
  .opening-hours-content-pos {
    display: inline-block;
    margin-left: 30px;
    float: left;
  }
}


// BOX 2 ============================
.special-events {}

.special-events-link {
  display: block;
  margin: 25px 460px;
  width: 286px;
  height: 120px;
  background: url(../image/pacote-footer.png) no-repeat 50% 30% #261811;
  font-size: 0;
  text-indent: -9999px;
  @include opacity(0.6);
}


// BOX 3 ============================
.social-media {
  right: 50px;
}

.social-link {
  float: right;
  width: 60px;
  height: 60px;
  margin: 4px;

  i {
    display: block;
    width: inherit;
    height: inherit;
  }
}
.icon-facebook {
  background: url(../image/icon-facebook.png) no-repeat center;
}
.icon-twitter {
  background: url(../image/icon-twitter.png) no-repeat center;
}
.icon-instagran {
  background: url(../image/icon-instagran.png) no-repeat center;
}







