
$input-color: #555;
$placeholder-color: #555;


// COMMON CLASS
.form-field {
  width: 100%;
  padding: 12px 8px 10px;
  font-size: 18px;
  color: $input-color;
  background: #FFF;
  border: 1px solid #CCC;
  @include border-radius(5px);
  @include transition(box-shadow .3s, opacity .3s);
  opacity: .9;

  &:focus {
    outline: none;
    // background: #FFF;
    opacity: 1;
    @include box-shadow(0px 6px 20px -2px rgba(#000, .4));
  }

  &.error {
    outline: 3px solid #E00;
    background: #FEE;
    @include box-shadow(0px 10px 26px -2px rgba(#000, .4));
  }
}


.field-line {
  @extend .clearfix;

  .half-field {
    margin-right: 4%;

    &:last-child {
      //margin-right: 0;
    }
  }

  .half-big {
    float: left;
    width: 69%;
  }
  .half-small {
    float: right;
    width: 29%;
  }
}

.input {
  margin-bottom: 30px;
  @extend .form-field;
}

.select {
  height: 48px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-color: transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  @extend .form-field;
}

.textarea {
  margin-bottom: 30px;
  @extend .form-field;
}

.btn {
  height: 48px;
  color: #FFF;
  padding: 13px 42px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  @include border-radius(5px);

  &:focus {
    outline: none;
    @include box-shadow(0px 2px 12px rgba(#000, .5));
  }
}

.btn-orange {
  background: $orange;
}
.btn-wine {
  background: $wine;
}

// PLACEHOLDERS ==============
::-webkit-input-placeholder {color: $placeholder-color; }
:-moz-placeholder           {color: $placeholder-color; }
::-moz-placeholder          {color: $placeholder-color; }
:-ms-input-placeholder      {color: $placeholder-color; }

