
.franchisee-session {
  background: url(../image/bg-vermelho.jpg) center;
}


.franchisee-container{
  color: #FFF;
  font-size: 26px;


  .title {
    font-size: 38px;
    @extend .font-nexabold;
  }

  .btn-send {
    background: $orange;
    margin: 120px 0 30px 0;
  }
}

.form-box {
  float: right;
  width: 100%;
}

.franchisee-form {
  width: 100%;
  @extend .clearfix;
}


.franchisee-description-box {
  
}
.text-description {
}
.orange{
  text-transform: uppercase;
  color: $orange;
}
.franquia-text-up{
  float: left;
  margin: 0 0 14px;
  text-transform: uppercase;
}
.obs{
  background: #261811 no-repeat;
  @include opacity(0.6);
  font-size: 22px;
  border: 2px solid $orange;
  padding: 20px 50px;
  letter-spacing: 2px;
}

.how-know {
  font-size: 20px;
  font-weight: 400;
}



