
// HEADER ============================
.site-header {
  width: 100%;
  height: 265px;;
  color: #666;
  background: url(../image/bg-header.jpg) center;
  @extend .clearfix;


  .content-width {
    position: relative;
    height: inherit;
    //background: #fae9ce;
  }
}

// BRAND ============================
.site-brand {
  float: left;
  text-align: center;
}

.site-title {
  margin: 40px 0 0 10px;

  a {
    display: inline-block;
    width: 520px;
    height: 120px;
    text-indent: -9999px;
    background: url(../image/logo.png) no-repeat center;
  }
}


// MENU ============================
.site-menu {
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  display: table;
}

// .page_list,
.menu-list {
  display: table-row;
}

.page_item,
.menu-item {
  display: table-cell;
  text-align: center;
  // float: left;
  // margin: 0 3%;

  a {
    display: inline-block;
    padding: 6px 4px 2px;
    color: $orange;
    font-size: 19px;
    line-height: 17px;
    text-decoration: none;

    @extend .font-nexabold;

    &:hover,
    &:focus {
      color: adjust-lightness($orange, -10);
    }
  }
}


// FRANCHISEE-AREA ====================
.franchisee-area {
  position: absolute;
  top: 0;
  right: 80px;
  width: 320px;
  padding: 20px 20px 10px;
  overflow: hidden;

  color: #F5E6BF;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.5px;
  background: $orange;

  @extend .font-nexabold;
  @include opacity(0.9);


  a {
    display: inline-block;
    padding: 6px 8px 2px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
  }
// .franchisee-form{
//   color: #fff;
//   font-size: 11px;
// }
// .login{
//   margin-top: 10px;
// }
}

.franchisee-toggle {

}


// BANNER ============================
.site-banner {
  position: relative;
  box-shadow: 0 8px 26px 6px rgba(0,0,0,.5);
  background: url(../image/bg-laranja.jpg) center;
}

.home {
  .banner-content {
    height: 775px;
    max-width: 1450px;
    margin: 0 auto;
  }

  .banner-area {
    // margin-top: -390px;
  }
}

.banner-content {
  position: relative;
  height: 470px;
  overflow: hidden;
}



// CAROUSEL ============================

.owl-item,
.banner-area {
  position: relative;

  img {
    position: relative;
    left: 50%;
    margin-left: -725px;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;

  margin-top: -30px;
  display: block;
  width: 60px;
  height: 60px;
  background: #CCC;
}


.owl-prev {
  left: 120px;
  background: url(../image/seta-esq.png) no-repeat center;
}

.owl-next {
  right: 120px;
  background: url(../image/seta-dir.png) no-repeat center;
}


// PLUGIN CONFIGS =============================

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
  overflow: hidden;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
  cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

