.home-session {
  background: url(../image/bg-vermelho.jpg) center;
  //height: 400px;


  .main-content {
    margin: 100px 0 100px 0;
    text-align: center;
    line-height: 45px;
    padding: 0 60px;

    .title-content-home {
      color: $orange;
      font-size: 38px;
      font-family: NexaBold;
      letter-spacing: 1px;
    }

    p {
      font-size: 25px;
      color: #FFF;
    }

    .content-separador {
      margin: 0;
      font-family: serif;
      font-size: 48px;
      color: #FFF;
      margin-top: 50px;
    }
  }
}

//NEWS =========================================
.title-news{
  background: url(../image/news-title.png) no-repeat center;
  width: 752px;
  height: 90px;
  margin: 100px 0;
  text-indent: -9999px;
}

//CONTACT =========================================
.title-contact{
  background: url(../image/contact-title.png) no-repeat center;
  width: 652px;
  height: 98px;
  margin: 100px 0;
  text-indent: -9999px;
}





