.single-session {}

.single-post {

  .site-content {
    background: url(../image/bg-nude.jpg);
  }

  .content-width {
    padding-left: 80px;
    padding-right: 80px;
  }

  .post-thumbnail {
    text-align: center;
  }
}


.single-title {
  margin: 20px 0 60px;
  color: $wine;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
}

.single-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 40px auto 80px;
  width: 880px;

  p {
    margin: 10px 0 20px;
  }

  a {
    color: $wine;
    font-weight: 600;
  }
}

// POST GALLERY ========================================
.gallery {}

.gallery-item {
  // float: left;
  display: inline-block;
  padding: 10px;
  width: 33.33%;

  a {
    display: block;
    height: 200px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// OPEN IMAGE ===========================================
.fullImageContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#222, .8);
  z-index: 10;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 90%;
    width: auto;
    margin: 0 auto;
    display: block;
    margin-top: 1.5%;
    // border: 8px solid #FFF;
    // @include border-radius(8px);
    @include box-shadow(0 10px 30px -2px rgba(#000, .8))
  }
}



// POST COMMENTS ========================================
.comments-area {
  width: 600px;
  margin: 80px auto;
  padding: 20px 30px;
  background: rgba(#613605, 0.1);
  font-size: 16px;

  .comment-reply-title {
    font-size: 21px;
    font-weight: 400;
  }
}

.comment-form {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    @extend .form-field;
  }

  label {
    display: block;
    margin: 6px;
    font-size: 16px;
    font-weight: 400;
  }

  .form-submit {
    text-align: right;
  }
  .submit {
    font-size: 16px;
    padding: 14px 26px;
    background: $wine;
    @extend .btn;
  }
}

.logged-in-as,
.form-allowed-tags {
  display: none;
}


// POST NAVIGATION ========================================
.post-navigation {
  padding: 0 20px;
  @extend .clearfix;

  a {
    font-family: NexaBold;
    letter-spacing: 1px;
    // margin-bottom: 40px;
    color: $wine;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }

  .post-title {
    display: none;
  }

  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }

}