.news-session {
  background: url(../image/bg-nude.jpg);

  .page-title {
    font-size: 38px;
    text-align: center;
    margin: 0 0 60px;
    text-transform: uppercase;
    // color: $orange;
    // color: #999;
    opacity: .7;
  }
}


// FILTER NEWS BAR ==================================
.news-filter-session {
  background: $wine;
  color: #FFF;

  .content-width {
    padding: 16px;
  }
}

.news-filter-form {
  text-align: center;

  .select {
    display: inline-block;
    // width: auto;
    width: 160px;
    height: 36px;
    margin-right: 14px;
    border-width: 2px 8px;
  }

  .filter-label {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 14px;
    vertical-align: sub;
  }

  .btn {
    position: relative;
    top: 1px;
    height: auto;
    padding: 6px 14px;
    border: 1px solid #FFF;
  }
}


// NEWS PORT ========================================
.left-pos {
  .container-image {
    float: left;
  }
  .container-info {
    float: right;
  }
}

.right-pos {
  .container-image {
    float: right;
  }
  .container-info {
    float: left;
  }
}


.news-session {
  .post {
    margin: 20px 0 60px;
    @extend .clearfix;
  }

  .container-image {}
  .container-info {
    margin-top: 10px;
    width: 480px;
    text-align: center;
  }
}

// article#post-51 {
//   margin-bottom: 100px;
// }

.post-date {
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;

  .date-separator {
    margin: 0 9px;
  }
}

.post-title {
  margin: 5px 0 15px 0;
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;

  a {
    color: $wine;
    text-decoration: none;
    display: inline-block;
  }
}

.content-separator {
  margin: 0;
  font-family: serif;
  font-size: 28px;
  color: #999;
}

.post-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  p {
    margin: 10px 0 20px;
  }

  .size-medium{
    //margin-left: 45%;
    width: 570px;
    height: 340px;
  }

}

.see-more-content {
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;

  .see-more-link {
    display: inline-block;
    padding: 2px 8px;
    font-style: 13px;
    color: $wine;
    text-decoration: none;
    border-bottom: 2px solid $orange;
  }
}


// NAVIGATION =======================
.navigation {
  .nav-links {
    padding: 10px;
    text-align: center;
    position: relative;
  }
}

.page-numbers {
  display: inline-block;
  padding: 6px 13px 6px;
  font-size: 18px;
  color: #777;
  text-decoration: none;
  

  &.current {
    border: 1px solid $orange;
  }
}

.next{
  position: absolute;
  right: 20px;
}
.prev {
  position: absolute;
  left: 20px;
}

