.product-session {
  color: #FFF;
  background: url(../image/bg-vermelho.jpg) center;

   h2 {
    font-size: 38px;
    color: $orange;
    font-family: NexaBold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h3 {
    margin: 20px -20px;
    font-size: 24px;
  }

  p {
    // float: left;
    font-size: 23px;
    margin-top: 0;
  }

  img {
    // float: left;
    margin: 20px;
  }

  hr {
    clear: both;
    opacity: 0.2;
  }
  

  ul {
    
  }

  li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }

.product-list {
  float: left;
  width: 48%;
  font-weight: 600;
  list-style: none;

  padding-left: 60px;
  margin: 20px 0 40px;

  @extend .font-nexabold;
  }

}
