
.store-session {
  background: url(../image/bg-vermelho.jpg) center;
  color: #FFF;

  .content-width {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}



// STORE FORM ===============================
.store-form {
  float: left;
  width: 42%;
  margin-top: 50px;
}

.store-selector {

  .store-select {
    width: 280px;
    font-size: 17px;
    padding-right: 30px;

    &:disabled {
      opacity: .6;
    }
  }

}


.store-address {
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;

  .title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
  }

  .text {
    font-size: 21px;
    margin: 6px 0;
  }
}



.post-8{
  .main-content{
    // text-indent: -9999px;
  }
}

// STORE MAP ===============================
.store-map {
  float: right;
  width: 55%;
  height: 460px;

  .google-map {
    width: 100%;
    height: 100%;
  }
}