
// HTML ELEMENTS ======================
body {
  font-family: "Open Sans", Tahoma, sans-serif;
  // font-family: "Roboto", Tahoma, sans-serif;
  // font-family: Cabin, sans-serif;
  color: #555;
  font-size: $font-size;
  font-weight: 300;
  background: #333;
  margin: 0;
}

h1 {font-size: 20px; }
h2 {font-size: 18px; }
h3 {font-size: 17px; }
h4 {font-size: 16px; }
h5 {font-size: 15px; }
h6 {font-size: 14px; }


// HIDDING WP ADMIN CONTENT ==========
.main-header {
  display: none;
}

// GLOBALS CLASSES ====================
#wpadminbar,
.screen-reader-text {
  display: none;
}

.site-page{
  // max-width: 1450px;
  min-width: $page-min-width;
  width: 100%;
  margin: 0 auto;
  background: #EEE;
}

.site-content,
.site-header,
.site-banner,
.site-content,
.site-footer {
  @extend .clearfix;
}

.home {
  .site-content {
    .content-width {
      padding-top: 0;
    }
  }
}

.site-content {
  .content-width {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}


.content-width {
  width: 100%;
  max-width: $page-max-width;
  min-width: $page-min-width;
  margin: 0 auto;
  padding-left: $page-padding;
  padding-right: $page-padding;
  @extend .clearfix;
}



// user content - added by admin =======
.first-container{

}

.site-main {

  .page { }

}

.main-title {
  // margin: 0;
}

.title {

}
